/Merchant's Guide To The Galaxy.v12.suo
/Merchant's Guide To The Galaxy.sln.DotSettings.user
/Merchant's Guide To The Galaxy.v2.ncrunchsolution
/packages
/Merchant's Guide To The Galaxy Test/*
/_NCrunch_Merchant's Guide To The Galaxy
/Merchant's Guide To The Galaxy/obj
/Merchant's Guide To The Galaxy/bin
